@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

#searchClienteField,
#searchDataField {
    padding: 10px;
    font-size: 16px;
    margin-right: 20px; 
    flex-grow: 1;
}

#searchDataField {
    max-width: 200px;
}

.hamburger {
    position: relative;
}

.hamburger span {
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.menu-content a:hover {
    background-color: #f0f0f0;
}

.hamburger:hover .menu-content {
    display: block;
}

.selected-row {
    background-color: #12229a !important;
    color: #ffffff;
}

.select-rowcheck{
    background-color: #c41e45 !important;
    color: #ffffff;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.close-create {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-create:hover,
.close-create:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #567EF5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #567EF5;
}

button.cancel {
    background-color: #f44336;
}

button.cancel:hover {
    background-color: #d32f2f;
}

#saveNewCompraBtn,
#saveEditCompraBtn,
#cancelNewCompraBtn,
#cancelEditCompraBtn {
    margin-right: 10px;
}

#saveNewCompraBtn,
#saveEditCompraBtn {
    background-color: #4caf50;
}

#saveNewCompraBtn:hover,
#saveEditCompraBtn:hover {
    background-color: #45a049;
}

#cancelNewCompraBtn,
#cancelEditCompraBtn {
    background-color: #f44336;
}

#cancelNewCompraBtn:hover,
#cancelEditCompraBtn:hover {
    background-color: #d32f2f;
}

#clienteDropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#clienteDropdown li {
    padding: 10px;
    cursor: pointer;
}

#clienteDropdown li:hover {
    background-color: #f0f0f0;
}
