/* Importando a fonte Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Estilo da página Admin */
body {
    font-family: 'Ubuntu', sans-serif; /* Alterado para usar Ubuntu */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Container que envolve sidebar e conteúdo */
.container {
    display: flex;
    flex-grow: 1;
}

/* Estilo da barra lateral */
.sidebar {
    width: 250px;
    background-color: #2B2B2B;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold; /* Deixa o título em negrito */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #2B2B2B;
    font-weight: bold; /* Deixa os itens da lista em negrito */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold; /* Deixa os links em negrito */
}

.sidebar ul li:hover {
    background-color: #2B2B2B;
}

/* Estilo do conteúdo principal */
.content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2B2B2B;
    color: white;
}

/* Estilo para a imagem na barra lateral */
.sidebar-image {
    margin-top: 150px;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Deixa as bordas arredondadas, se desejado */
}
