body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

#searchField {
    padding: 10px;
    font-size: 16px;
    max-width: 600px; /* Limita o tamanho do campo de busca */
    margin-right: 20px; /* Espaço entre o campo de busca e o menu hambúrguer */
    flex-grow: 1;
}

.hamburger {
    position: relative;
}

.hamburger span {
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.menu-content a:hover {
    background-color: #f0f0f0;
}

.hamburger:hover .menu-content {
    display: block;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    bottom: 0;
}
